<script type="text/javascript">
    document.body.style.backgroundImage = "url('../Images/Access.png')";
</script>

@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center text-black">
    <h1>Access Denied!<br></br></h1>
    <h2>This page is for administrator. You see it so as to show role-based authentication work.</h2>
    <br></br>
    <br></br>
    <h4>
        <a href="javascript:history.back()" class="btn btn-light text-black" style="text-decoration:none">Back to List</a>
        </h4>
</div>
