
@{
    ViewData["Title"] = "Unauthorized";
}

<div class="text-center" style="position:absolute;top: 200px; left:500px;">
<h1>You are unauthorized</h1>
    <img src="~/Images/Unauthorized.jpg" alt="Bart Simpson" width="200">
    <h4> <a class="text-black" href="https://localhost:7261/Authentication/Authorize">Click this text to authorize and get access</a></h4>
</div>